@font-face {
  font-family: "BonvenoCF Light";
  src: url("../fonts/BonvenoCF-Light-webfont.eot");
  src: url("../fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BonvenoCF-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference Regular";
  src: url("../fonts/GlacialIndifference-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference Bold";
  src: url("../fonts/GlacialIndifference-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
