//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            #444;
@gray-dark:              #888;
@gray:                   #bbb;
@gray-light:             #ccc;
@gray-lighter:           #eee;
@gray-lightest:          #fafafa;

@brand-primary-dark:    darken(@brand-primary, 70%);
@brand-primary:         #0097c9;
@brand-secondary:       #ffee00;

@brand-success:         #00BD6E;
@brand-info:            #388BFF;
@brand-warning:         #FFAC38;
@brand-danger:          #FF4938;

@tab-focus-color:       @brand-primary;


//** Social Media Colors
@social-facebook:       #3b5998;
@social-twitter:        #4099ff;
@social-pinterest:      #c92228;
@social-linkedin:       #007bb6;

@btn-secondary-hover:  darken(@brand-secondary, 5%);
@btn-primary-hover:    darken(@brand-primary, 6%);
@btn-brand-hover:      darken(@brand-primary, 6%);
@btn-success-hover:    darken(@brand-success, 6%);
@btn-info-hover:       darken(@brand-info, 6%);
@btn-warning-hover:    darken(@brand-warning, 10%);
@btn-danger-hover:     darken(@brand-danger, 15%);

//** Form Text

@form-placeholder:       @gray-dark;
@form-text:              @gray-base;
@form-disabled:          @gray-light;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               lighten(@brand-primary, 80%);
//** Global text color on `<body>`.
@text-color:            @gray-base;

//** Global textual link color.
@link-color:           @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@sourcesans-font-path:    '../fonts/';

@font-family-backups:     Helvetica, Arial, sans-serif;
@font-family-bold:        "Source Sans Pro Bold", @font-family-backups;
@font-family-medium:      "Source Sans Pro Medium", @font-family-backups;
@font-family-regular:     "Source Sans Pro", @font-family-backups;
@font-family-light:       "Source Sans Pro Light", @font-family-backups;
@font-family-sans-serif:  @font-family-light, @font-family-backups;

@font-weight-bold:        800;
@font-weight-medium:      600;
@font-weight-light:       300;
@font-weight-standard:    400;

@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-base:               16;
@font-size-base:          1em;

@line-height-large:      1.33;
@line-height-small:      1.5;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:       1.428571429; // 20/14

//** Default (dft) Font Size Variables //
//== These are the only font-sizes that will be used project-wide
//
//== Note: Each of these font sizes has a default line-height that goes with it
//   There are mixins that coorespond to these names that include the line-height
//   (e.g. dft-font-1(), dft-font-2(), etc.)

@dft-font-1:              unit((9 / @font-base), em);  // ~9px   : 0.5625em
@dft-font-2:              unit((10 / @font-base), em); // ~10px  : 0.625em
@dft-font-3:              unit((11 / @font-base), em); // ~11px  : 0.6875em
@dft-font-4:              unit((12 / @font-base), em); // ~12px  : 0.75em
@dft-font-5:              unit((13 / @font-base), em); // ~13px  : 0.8125em
@dft-font-6:              unit((14 / @font-base), em); // ~14px  : 0.875em
@dft-font-7:              unit((18 / @font-base), em); // ~18px  : 1.125em
@dft-font-8:              unit((24 / @font-base), em); // ~24px  : 1.5em
@dft-font-9:              unit((30 / @font-base), em); // ~30px  : 1.875em
@dft-font-10:             unit((36 / @font-base), em); // ~36px  : 2.25em
@dft-font-11:             unit((42 / @font-base), em); // ~42px  : 2.625em

@font-size-large:         @dft-font-7; // ~18px  : 1.125em
@font-size-small:         @dft-font-4; // ~12px : 0.75em

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    @font-weight-bold;
@headings-line-height:    1.1;
@headings-color:          inherit;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  320px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet/large phone
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  321px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop/iPad
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  768px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1024px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
@screen-lg-max:              1200px;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     12px;
@padding-base-horizontal:   24px;

@padding-large-vertical:    12px;
@padding-large-horizontal:  40px;

@padding-small-vertical:    6px;
@padding-small-horizontal:  20px;

@padding-xs-vertical:       3px;
@padding-xs-horizontal:     8px;

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                  normal;

@btn-secondary-color:              @gray-base;
@btn-secondary-bg:                 @brand-secondary;
@btn-secondary-border:             @brand-secondary;

@btn-primary-color:                #fff;
@btn-primary-bg:                   @gray-base;
@btn-primary-border:               @gray-base;

@btn-brand-color:                  #fff;
@btn-brand-bg:                     @brand-primary;
@btn-brand-border:                 @brand-primary;

@btn-success-color:                #fff;
@btn-success-bg:                   @brand-success;
@btn-success-border:               @brand-success;

@btn-info-color:                   #fff;
@btn-info-bg:                      @brand-info;
@btn-info-border:                  @brand-info;

@btn-warning-color:                #fff;
@btn-warning-bg:                   @brand-warning;
@btn-warning-border:               @brand-warning;

@btn-danger-color:                 #fff;
@btn-danger-bg:                    @brand-danger;
@btn-danger-border:                @brand-danger;

@btn-link-disabled-color:          @gray-light;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
// This is the standard padding value
@grid-gutter-width:         @gutter-xs-padding;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);

// Gutter padding values
@gutter-xs-padding:          10px;
@gutter-sm-padding:          10px;
@gutter-md-padding:          20px;
@gutter-lg-padding:          20px;


//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         5px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            #ddd;

//** Table font-sizes
@table-header-font-size: @dft-font-6;
@table-header-line-height: @line-height-large;

@table-font-size: @font-size-base;
@table-line-height: @line-height-base;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              #fff;
@btn-default-bg:                 #000;
@btn-default-border:             #000;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-link-disabled-color:        @gray-light;


//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #fff;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;

//** Text color for `<input>`s
@input-color:                    @gray;
//** `<input>` border color
@input-border:                   #ccc;
//** `<input>` font size
@input-font-size:                1em;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;

//** Border color for inputs on focus
@input-border-focus:             #66afe9;

//** Placeholder text color
@input-color-placeholder:        #999;

//** Default `.form-control` height
@input-height-base:              1;
//** Large `.form-control` height
@input-height-large:             1;
//** Small `.form-control` height
@input-height-small:             1;

//** `.form-group` margin
@form-group-margin-bottom:       15px;

@legend-color:                   @gray-dark;
@legend-border-color:            #e5e5e5;

//** Background color for textual input addons
@input-group-addon-bg:           @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
@dropdown-border:                @gray-light;
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       @gray;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            @gray-light;

//** Dropdown link text color.
@dropdown-link-color:            @gray-darker;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      #fff;
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         @brand-primary;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     @component-active-color;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   @gray;

//** Text color for headers within dropdown menus.
@dropdown-header-color:          @gray-base;

//** Deprecated `@dropdown-caret-color` as of v3.1.0
@dropdown-caret-color:           #000;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             @brand-success;
@state-success-bg:               #fff;
@state-success-border:           @brand-success;

@state-info-text:                @brand-info;
@state-info-bg:                  #fff;
@state-info-border:              @brand-info;

@state-warning-text:             @brand-warning;
@state-warning-bg:               #fff;
@state-warning-border:           @brand-warning;

@state-danger-text:              @brand-danger;
@state-danger-bg:                #fff;
@state-danger-border:            @brand-danger;


//== Type
//
//##

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;
//** Text muted color
@text-muted:                  @gray-dark;
//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-dark;
//** Headings small color
@headings-small-color:        @gray-dark;
//** Blockquote small color
@blockquote-small-color:      @gray-dark;
//** Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.25);
//** Blockquote border color
@blockquote-border-color:     @gray-light;
//** Page header border color
@page-header-border-color:    @gray-light;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;
//** Horizontal line color.
@hr-border:                   @gray-light;


//== Labels
//
//##

//** Default label background color
@label-default-bg:            @gray-light;
//** Primary label background color
@label-primary-bg:            @brand-primary;
//** Success label background color
@label-success-bg:            @brand-success;
//** Info label background color
@label-info-bg:               @brand-info;
//** Warning label background color
@label-warning-bg:            @brand-warning;
//** Danger label background color
@label-danger-bg:             @brand-danger;

//** Default label text color
@label-color:                 @brand-primary;
//** Default text color of a linked label
@label-link-hover-color:      darken(@brand-primary, 10%);


//== List group
//
//##

//** Background color on `.list-group-item`
@list-group-bg:                 transparent;
//** `.list-group-item` border color
@list-group-border:             @gray;
//** List group border radius
@list-group-border-radius:      @border-radius-base;

//** Background color of single list items on hover
@list-group-hover-bg:           @gray-lighter;
//** Text color of active list items
@list-group-active-color:       @component-active-color;
//** Background color of active list items
@list-group-active-bg:          @component-active-bg;
//** Border color of active list elements
@list-group-active-border:      @list-group-active-bg;
//** Text color for content within active list items
@list-group-active-text-color:  lighten(@list-group-active-bg, 40%);

//** Text color of disabled list items
@list-group-disabled-color:      @gray-light;
//** Background color of disabled list items
@list-group-disabled-bg:         @gray-lighter;
//** Text color for content within disabled list items
@list-group-disabled-text-color: @list-group-disabled-color;

@list-group-link-color:         #555;
@list-group-link-hover-color:   @list-group-link-color;
@list-group-link-heading-color: #333;


//== Panels
//
//##

@panel-bg:                    transparent;
@panel-body-padding:          15px;
@panel-heading-padding:       10px 15px;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          @gray-light;
@panel-footer-bg:             #f5f5f5;

@panel-default-text:          @gray-dark;
@panel-default-border:        #ddd;
@panel-default-heading-bg:    #f5f5f5;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;


//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
@breadcrumb-bg:                 transparent;
//** Breadcrumb text color
@breadcrumb-color:              darken(@brand-secondary, 5%);
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       darken(@brand-secondary, 20%);
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";
