//
// Div-based Tables
// --------------------------------------------------


// Base styles
// -------------------------

.div-table {
  display: table;

  &.div-table-bordered {
    border: 1px solid @gray-lighter;

    .div-table-row {
      .div-table-cell {
        border-right: 1px solid @gray-lighter;
        border-bottom: 1px solid @gray-lighter;
        &:last-of-type {
          border-right: none;
        }
      }

      &:last-of-type {
        .div-table-cell {
          border-bottom: none;
        }
      }
    }
  }//&.bordered

  &.div-table-inner {
    .div-table-row {
      .div-table-cell {
        border-right: 1px solid @gray-lighter;
        border-bottom: 1px solid @gray-lighter;
        &:last-of-type {
          border-right: none;
        }
      }

      &:last-of-type {
        .div-table-cell {
          border-bottom: none;
        }
      }
    }
  }//&.inner-border

  &.div-table-bordered-rows {
    .div-table-row {
      .div-table-cell {
        border-bottom: 1px solid @gray-lighter;
      }
      &:last-of-type {
        .div-table-cell {
          border-bottom: none;
        }
      }
    }
  }//&.div-table-bordered-rows

  &.div-table-striped {
    .div-table-row {
      &:nth-child(odd) {
        .div-table-cell {
          background: @gray-lighter;
        }
      }
    }
  }//&.div-table-striped
}

.div-table-row {
  display: table-row;
}

.div-table-cell {
  display: table-cell;

  // Inline Styles
  // -------------------------
  // These styles may be used to further refine the cells on an individual basis

  &.padded {
    padding: @padding-base-vertical @padding-base-horizontal;
  }
  &.padded-lg {
    padding: @padding-large-vertical @padding-large-horizontal;
  }
  &.padded-sm {
    padding: @padding-small-vertical @padding-small-horizontal;
  }
  &.padded-xs {
    padding: @padding-xs-vertical @padding-xs-horizontal;
  }

  &.valign-top {
    vertical-align: top;
  }
  &.valign-bottom {
    vertical-align: bottom;
  }
  &.valign-middle {
    vertical-align: middle;
  }
}

// Columns
//
// Common styles for small and large grid columns

.make-cell-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-cell-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-cell-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-cell-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-cell-grid(lg);
}