//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @font-family-bold;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-family: @font-family-medium;
  font-weight: @font-weight-medium;
}


// Inline styles
// -------------------------

.text-bold {
  font-family: @font-family-bold;
  font-weight: 800;
}

.text-medium {
  font-family: @font-family-medium;
  font-weight: 500;
}

.text-light {
  font-family: @font-family-light;
  font-weight: 300;
}