//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

.modal-title {
  .dft-font-8;
  font-weight: @font-weight-medium;
  font-family: @font-family-medium;
  text-transform: uppercase;
  border-bottom: 2px solid @brand-primary;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}

.modal-header {
  padding-bottom: 0;
}

.modal-body {
  padding-top: 0;
}
