@font-face {
  font-family: 'Custom Icons';
  src:url('@{icon-font-path}custom-icons.eot?-zgpp37');
  src:url('@{icon-font-path}custom-icons.eot?#iefix-zgpp37') format('embedded-opentype'),
      url('@{icon-font-path}custom-icons.woff?-zgpp37') format('woff'),
      url('@{icon-font-path}custom-icons.ttf?-zgpp37') format('truetype'),
      url('@{icon-font-path}custom-icons.svg?-zgpp37#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Catchall baseclass
.customicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Custom Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.customicon-home { &:before { content: "\e900"; } }
.customicon-pencil { &:before { content: "\e905"; } }
.customicon-eyedropper { &:before { content: "\e90a"; } }
.customicon-droplet { &:before { content: "\e90b"; } }
.customicon-images { &:before { content: "\e90e"; } }
.customicon-camera { &:before { content: "\e90f"; } }
.customicon-headphones { &:before { content: "\e910"; } }
.customicon-play { &:before { content: "\e912"; } }
.customicon-film { &:before { content: "\e913"; } }
.customicon-pacman { &:before { content: "\e916"; } }
.customicon-bullhorn { &:before { content: "\e91a"; } }
.customicon-connection { &:before { content: "\e91b"; } }
.customicon-mic { &:before { content: "\e91e"; } }
.customicon-books { &:before { content: "\e920"; } }
.customicon-file-text { &:before { content: "\e922"; } }
.customicon-files-empty { &:before { content: "\e925"; } }
.customicon-file-picture { &:before { content: "\e927"; } }
.customicon-file-play { &:before { content: "\e929"; } }
.customicon-stack { &:before { content: "\e92e"; } }
.customicon-folder-open { &:before { content: "\e930"; } }
.customicon-price-tag { &:before { content: "\e935"; } }
.customicon-cart { &:before { content: "\e93a"; } }
.customicon-phone { &:before { content: "\e942"; } }
.customicon-address-book { &:before { content: "\e944"; } }
.customicon-pushpin { &:before { content: "\e946"; } }
.customicon-location { &:before { content: "\e947"; } }
.customicon-compass { &:before { content: "\e949"; } }
.customicon-clock { &:before { content: "\e94e"; } }
.customicon-clock2 { &:before { content: "\e94f"; } }
.customicon-printer { &:before { content: "\e954"; } }
.customicon-keyboard { &:before { content: "\e955"; } }
.customicon-display { &:before { content: "\e956"; } }
.customicon-mobile { &:before { content: "\e958"; } }
.customicon-tablet { &:before { content: "\e95a"; } }
.customicon-undo2 { &:before { content: "\e967"; } }
.customicon-redo2 { &:before { content: "\e968"; } }
.customicon-forward { &:before { content: "\e969"; } }
.customicon-reply { &:before { content: "\e96a"; } }
.customicon-bubble { &:before { content: "\e96b"; } }
.customicon-bubbles2 { &:before { content: "\e96d"; } }
.customicon-bubble2 { &:before { content: "\e96e"; } }
.customicon-bubbles4 { &:before { content: "\e970"; } }
.customicon-user { &:before { content: "\e971"; } }
.customicon-user-plus { &:before { content: "\e973"; } }
.customicon-user-minus { &:before { content: "\e974"; } }
.customicon-user-check { &:before { content: "\e975"; } }
.customicon-quotes-left { &:before { content: "\e977"; } }
.customicon-quotes-right { &:before { content: "\e978"; } }
.customicon-spinner { &:before { content: "\e97a"; } }
.customicon-spinner2 { &:before { content: "\e97b"; } }
.customicon-spinner9 { &:before { content: "\e982"; } }
.customicon-search { &:before { content: "\e986"; } }
.customicon-zoom-in { &:before { content: "\e987"; } }
.customicon-zoom-out { &:before { content: "\e988"; } }
.customicon-enlarge { &:before { content: "\e989"; } }
.customicon-shrink { &:before { content: "\e98a"; } }
.customicon-enlarge2 { &:before { content: "\e98b"; } }
.customicon-shrink2 { &:before { content: "\e98c"; } }
.customicon-lock { &:before { content: "\e98f"; } }
.customicon-unlocked { &:before { content: "\e990"; } }
.customicon-wrench { &:before { content: "\e991"; } }
.customicon-cog { &:before { content: "\e994"; } }
.customicon-cogs { &:before { content: "\e995"; } }
.customicon-gift { &:before { content: "\e99f"; } }
.customicon-bin { &:before { content: "\e9ac"; } }
.customicon-bin2 { &:before { content: "\e9ad"; } }
.customicon-airplane { &:before { content: "\e9af"; } }
.customicon-truck { &:before { content: "\e9b0"; } }
.customicon-target { &:before { content: "\e9b3"; } }
.customicon-switch { &:before { content: "\e9b6"; } }
.customicon-list { &:before { content: "\e9ba"; } }
.customicon-menu { &:before { content: "\e9bd"; } }
.customicon-cloud { &:before { content: "\e9c1"; } }
.customicon-cloud-download { &:before { content: "\e9c2"; } }
.customicon-cloud-upload { &:before { content: "\e9c3"; } }
.customicon-cloud-check { &:before { content: "\e9c4"; } }
.customicon-link { &:before { content: "\e9cb"; } }
.customicon-flag { &:before { content: "\e9cc"; } }
.customicon-eye { &:before { content: "\e9ce"; } }
.customicon-eye-blocked { &:before { content: "\e9d1"; } }
.customicon-star-empty { &:before { content: "\e9d7"; } }
.customicon-star-half { &:before { content: "\e9d8"; } }
.customicon-star-full { &:before { content: "\e9d9"; } }
.customicon-heart { &:before { content: "\e9da"; } }
.customicon-warning { &:before { content: "\ea07"; } }
.customicon-notification { &:before { content: "\ea08"; } }
.customicon-question { &:before { content: "\ea09"; } }
.customicon-plus { &:before { content: "\ea0a"; } }
.customicon-minus { &:before { content: "\ea0b"; } }
.customicon-info { &:before { content: "\ea0c"; } }
.customicon-cancel-circle { &:before { content: "\ea0d"; } }
.customicon-blocked { &:before { content: "\ea0e"; } }
.customicon-cross { &:before { content: "\ea0f"; } }
.customicon-checkmark { &:before { content: "\ea10"; } }
.customicon-play2 { &:before { content: "\ea15"; } }
.customicon-pause { &:before { content: "\ea16"; } }
.customicon-stop { &:before { content: "\ea17"; } }
.customicon-play3 { &:before { content: "\ea1c"; } }
.customicon-pause2 { &:before { content: "\ea1d"; } }
.customicon-stop2 { &:before { content: "\ea1e"; } }
.customicon-volume-high { &:before { content: "\ea26"; } }
.customicon-volume-medium { &:before { content: "\ea27"; } }
.customicon-volume-low { &:before { content: "\ea28"; } }
.customicon-volume-mute { &:before { content: "\ea29"; } }
.customicon-volume-mute2 { &:before { content: "\ea2a"; } }
.customicon-circle-up { &:before { content: "\ea41"; } }
.customicon-circle-right { &:before { content: "\ea42"; } }
.customicon-circle-down { &:before { content: "\ea43"; } }
.customicon-circle-left { &:before { content: "\ea44"; } }
.customicon-checkbox-checked { &:before { content: "\ea52"; } }
.customicon-checkbox-unchecked { &:before { content: "\ea53"; } }
.customicon-radio-checked { &:before { content: "\ea54"; } }
.customicon-radio-checked2 { &:before { content: "\ea55"; } }
.customicon-radio-unchecked { &:before { content: "\ea56"; } }
.customicon-share2 { &:before { content: "\ea82"; } }
.customicon-google-plus { &:before { content: "\ea88"; } }
.customicon-google-plus2 { &:before { content: "\ea89"; } }
.customicon-google-drive { &:before { content: "\ea8b"; } }
.customicon-facebook { &:before { content: "\ea8c"; } }
.customicon-facebook2 { &:before { content: "\ea8d"; } }
.customicon-instagram { &:before { content: "\ea90"; } }
.customicon-twitter { &:before { content: "\ea91"; } }
.customicon-twitter2 { &:before { content: "\ea92"; } }
.customicon-feed2 { &:before { content: "\ea94"; } }
.customicon-feed3 { &:before { content: "\ea95"; } }
.customicon-youtube { &:before { content: "\ea97"; } }
.customicon-youtube2 { &:before { content: "\ea98"; } }
.customicon-youtube3 { &:before { content: "\ea99"; } }
.customicon-youtube4 { &:before { content: "\ea9a"; } }
.customicon-vimeo { &:before { content: "\ea9c"; } }
.customicon-vimeo2 { &:before { content: "\ea9d"; } }
.customicon-flickr2 { &:before { content: "\eaa1"; } }
.customicon-flickr3 { &:before { content: "\eaa2"; } }
.customicon-picassa { &:before { content: "\eaa4"; } }
.customicon-picassa2 { &:before { content: "\eaa5"; } }
.customicon-dribbble { &:before { content: "\eaa6"; } }
.customicon-dribbble2 { &:before { content: "\eaa7"; } }
.customicon-deviantart { &:before { content: "\eaab"; } }
.customicon-deviantart2 { &:before { content: "\eaac"; } }
.customicon-dropbox { &:before { content: "\eaaf"; } }
.customicon-github { &:before { content: "\eab1"; } }
.customicon-github5 { &:before { content: "\eab5"; } }
.customicon-tumblr { &:before { content: "\eabb"; } }
.customicon-tumblr2 { &:before { content: "\eabc"; } }
.customicon-apple { &:before { content: "\eabf"; } }
.customicon-android { &:before { content: "\eac1"; } }
.customicon-windows { &:before { content: "\eac2"; } }
.customicon-windows8 { &:before { content: "\eac3"; } }
.customicon-skype { &:before { content: "\eac6"; } }
.customicon-linkedin { &:before { content: "\eac8"; } }
.customicon-linkedin2 { &:before { content: "\eac9"; } }
.customicon-pinterest { &:before { content: "\ead0"; } }
.customicon-pinterest2 { &:before { content: "\ead1"; } }
.customicon-foursquare { &:before { content: "\ead5"; } }
.customicon-paypal { &:before { content: "\ead6"; } }
.customicon-file-pdf { &:before { content: "\eada"; } }
.customicon-file-word { &:before { content: "\eadc"; } }
.customicon-html5 { &:before { content: "\eadf"; } }
.customicon-html52 { &:before { content: "\eae0"; } }
.customicon-chrome { &:before { content: "\eae5"; } }
.customicon-firefox { &:before { content: "\eae6"; } }
.customicon-IE { &:before { content: "\eae7"; } }
.customicon-opera { &:before { content: "\eae8"; } }
