/* columns of same height styles */
.container-xs-height {
  display: table;
  padding-left: 0;
  padding-right: 0;
}
.row-xs-height {
  display:table-row;

  &.row-edge-unpadded {
    .col-xs-height:first-of-type {
      padding-left: 0;
    }

    .col-xs-height:last-of-type {
      padding-right: 0;
    }
  }
}
.col-xs-height {
  display: table-cell;
  float: none;
}

/* firefox fix */
.img-responsive {
  width: 100%;
}

/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: @screen-sm-min) {
  .container-sm-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }
  .row-sm-height {
    display: table-row;

    &.row-edge-unpadded {
      .col-sm-height:first-of-type {
        padding-left: 0;
      }

      .col-sm-height:last-of-type {
        padding-right: 0;
      }
    }
  }
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: @screen-md-min) {
  .container-md-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }
  .row-md-height {
    display: table-row;

    &.row-edge-unpadded {
      .col-md-height:first-of-type {
        padding-left: 0;
      }

      .col-md-height:last-of-type {
        padding-right: 0;
      }
    }
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: @screen-lg-min) {
  .container-lg-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }
  .row-lg-height {
    display: table-row;

    &.row-edge-unpadded {
      .col-lg-height:first-of-type {
        padding-left: 0;
      }

      .col-lg-height:last-of-type {
        padding-right: 0;
      }
    }
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
