//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1,
.h1 {
  font-family: @font-family-bold;
  font-weight: @font-weight-bold;
}

h2,
.h2 {
  font-family: @font-family-sans-serif;
  font-weight: @font-weight-standard;
}

h3,
.h3 {
  font-family: @font-family-light;
  font-weight: @font-weight-medium;
}

h4,
.h4 {
  font-family: @font-family-medium;
  font-weight: @font-weight-medium;
}

h5,
.h5 {
  font-family: @font-family-regular;
  font-weight: @font-weight-standard;
}

h6,
.h6 {
  font-family: @font-family-medium;
  font-weight: @font-weight-medium;
}

p {
  .dft-font-4();
  margin-bottom: 30px;
}

.lead {
  .dft-font-7();
}

pre,
.highlight pre {
  font-size: @font-size-small;
}


// Inline styles
// -------------------------

strong,
.strong {
  font-weight: @font-weight-bold;
  font-family: @font-family-bold;
}

.text-medium {
  font-family: @font-family-medium;
  font-weight: @font-weight-medium;
}

.text-bold {
  font-family: @font-family-bold;
  font-weight: @font-family-bold;
}

.text-regular {
  font-weight: @font-family-regular;
  font-weight: @font-weight-standard;
}

.text-light {
  font-family: @font-family-light;
  font-weight: @font-family-light;
}

.text-muted {
  color: @gray;
}
.text-secondary {
  .text-emphasis-variant(darken(@brand-secondary, 25%));
}
