//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1,
.h1 {
  font-family: @font-family-bold;
  font-weight: @font-weight-bold;
  color: @brand-primary;
  font-style: italic;
  text-align: center;
  .dft-font-10;

  @media screen and (min-width: @screen-md-min) {
    .dft-font-11;
  }
}

h2,
.h2 {
  font-family: @font-family-light;
  font-weight: @font-weight-light;
  .dft-font-8;
}

h3,
.h3 {
  font-family: @font-family-regular;
  font-weight: @font-weight-standard;
  .dft-font-7;
}

h4,
.h4 {
  font-family: @font-family-medium;
  font-weight: @font-weight-medium;
  .dft-font-6;
}

h5,
.h5 {
  font-family: @font-family-regular;
  font-weight: @font-weight-standard;
  .dft-font-6;
}

h6,
.h6 {
  font-family: @font-family-medium;
  font-weight: @font-weight-medium;
  .dft-font-5;
}

p {
  .dft-font-5;
  margin-bottom: 20px;
}

.lead {
  .dft-font-7;
}

pre,
.highlight pre {
  font-size: @font-size-small;
}


// Inline styles
// -------------------------

strong,
.strong {
  font-weight: @font-weight-medium;
  font-family: @font-family-medium;
}

.text-medium {
  font-family: @font-family-medium;
  font-weight: @font-weight-medium;
}

.text-bold {
  font-family: @font-family-bold;
  font-weight: @font-family-bold;
}

.text-regular {
  font-weight: @font-family-regular;
  font-weight: @font-weight-standard;
}

.text-light {
  font-family: @font-family-light;
  font-weight: @font-family-light;
}

.text-muted {
  color: @gray;
}
.text-secondary {
  .text-emphasis-variant(darken(@brand-secondary, 25%));
}

li {
  .dft-font-5;
}

li li {
  .font-em-reset(@dft-font-5, @dft-font-5);
}

dl {
  .dft-font-6;
}

dt {
  font-weight: @font-weight-standard;
  font-family: @font-family-regular;
}
