// BG Color classes
.bg-gray-base {
  background: @gray-base;
}
.bg-gray-darker {
  background: @gray-darker;
}
.bg-gray-dark {
  background: @gray-dark;
}
.bg-gray {
  background: @gray;
}
.bg-gray-light {
  background: @gray-light;
}
.bg-gray-lighter {
  background: @gray-lighter;
}

.bg-primary {
  background: @brand-primary;
}
.bg-success {
  background: @brand-success;
}
.bg-info {
  background: @brand-info;
}
.bg-warning {
  background: @brand-warning;
}
.bg-danger {
  background: @brand-danger;
}
